SELECT top 10 [RP_DTL_SIR_SCORE_ID]
      ,[ORDERNUMBER]
      ,[ORDERDATE]
      ,[ORDERTYPE]
      ,[CTN]
      ,[HANDSETDESCRIPTION]
      ,[PERSONID]
      ,[AGENTID]
      ,[NT_USER]
      ,[AGENT]
      ,[TEAM]
      ,[CCM]
      ,[SITE]
      ,[DEPARTMENT]
      ,[RFUNCTION]
      ,[CHANNEL]
      ,[BUSINESSUNIT]
      ,[CALLBACK_DATETIME]
      ,[NUM_OF_CALLBACKS]
      ,[SIR_FAIL_IND]
      ,[SIR_FAIL_DESC]
      ,[CALLBACK_DEPARTMENT]
      ,[CALLBACK_SITE]
      ,[CALLBACK_CALLTYPE]
      ,[DATETIME_INSERTED]
  FROM [SIR].[dbo].[RP_DTL_SIR_SCORE]